.search{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.search input{
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #e0e0e0;
}
.search button{
    background-color: #6552f4;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    color: #e0e0e0;
}
